<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Home - Points of Interest Blog</title>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Points of Interest Blog</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thank you and have a nice day!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>