
<div class="d-flex flex-column">
  <h2 class="text-center">Login</h2>
  <div class="d-flex flex-column flex-md-row justify-content-center">
    <form class="card py-2 px-3 login-form col-12 col-md-6 col-lg-5">
      <div class="d-flex my-1">
        <label class="text-left col-4" for="email-login">email:</label>
        <input class="col-8" type="text" id="email-login" />
      </div>
      <div class="d-flex my-1">
        <label class="text-left col-4" for="password-login">password:</label>
        <input class="col-8" type="password" id="password-login" />
      </div>
      <div class="col my-2">
        <button class="btn" type="submit">login</button>
      </div>
    </form>

    <form class="card py-2 px-3 signup-form col-12 col-md-6 col-lg-5">
      <div class="d-flex my-1">
        <label class="text-left col-4" for="username-signup">username:</label>
        <input class="col-8" type="text" id="username-signup" />
      </div>
      <div class="d-flex my-1">
        <label class="text-left col-4" for="email-signup">email:</label>
        <input class="col-8" type="text" id="email-signup" />
      </div>
      <div class="d-flex my-1">
        <label class="text-left col-4" for="password-signup">password:</label>
        <input class="col-8" type="password" id="password-signup" />
      </div>
      <div class="col my-2">
        <button class="btn" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
<script src="/javascript/login.js"></script>