

<div class="my-2">
  <section class="d-flex flex-column align-items-center">
    <div class="col-12 col-md-10 col-lg-8">

      <section class="card mb-2">
        <div class="post-header p-2">
          <span class="text-muted">Posted by {{postInfo.username}}  ·  {{format_date postInfo.created_at}}</span>
          <h2 class="my-1">{{postInfo.title}}</h2>
        </div>
        <p class="p-2 ">{{postInfo.post_comment}}</p>
      </section>

    </div>
  </section>
</div>

{{#unless loggedIn}}
<script src="/js/loginReq.js"></script>
{{/unless}}